
@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";

}
<h2>Raider League</h2>

<input type ="button" value=" Upload your battle log" onclick="location.href='@Url.Action("Index", "UploadBattleLog")'" />

<input type="button" value=" Leaderboard" onclick="location.href='@Url.Action("LoggedIn", "Leaderboard")'" />

<input type="button" value=" Check your account page" onclick="location.href='@Url.Action("Index", "AccountPage")'" />




